.btn-list{
    display : flex;
    column-gap : 1rem;
}

.pelayanan-main{
    margin : 7rem 3rem;
    display : grid;
    grid-template-columns : calc(40% - 1rem) calc(60% - 1rem);
    column-gap : 3rem;
}

.header{
    color : #006799;
}

.back-btn{
    border : none;
    color : white;
    padding : 1rem;
    font-weight : bold;
    font-size : 1rem;
    border-radius : .2rem;
    background-color : #006799;
}

.keterangan{
    margin : 3rem 0;
}

.form-area{
    padding : 1rem;
    border-radius : .2rem;
}


@media only screen and (max-width : 1000px){
    .back-btn{
        border : none;
        color : white;
        padding : 1rem;
        font-weight : bold;
        font-size : .7rem;
        border-radius : .2rem;
        background-color : #006799;
    }

    .pelayanan-main{
        margin : 10rem 1rem;
        display : grid;
        row-gap:  2rem;
        grid-template-columns : calc(100% - 1rem);
        column-gap : 3rem;
    }
}
