footer{
    background-color: #006799;
    background-image: url('/assets/images/background/2.jfif');
    color : white;
    padding : 1rem;
    margin-top : 5rem;
}

.copyright{
    text-align : center;
    margin : 1rem 0;
}

.footer-main{
    display: grid;
    margin : 1rem 2rem;
    grid-template-columns : repeat(2, 50%);
    margin-bottom : 2rem;
}

.footer-section hr{
    margin-right : 50%;
}

.contact-section{
    display : flex;
    align-items : center;
    column-gap: 1rem;
    margin : 1rem .5rem;
}

.contact-section img{
    filter : invert(1);
}