nav{
    display: flex;
    z-index: 10;
    position: fixed;
    width: 100%;
    padding : 1rem 2rem;
    color : #006799;
    top : 0;
    font-size: 1.2rem;
    /* box-shadow: 0 0 5px rgba(135, 135, 135, 0.507); */
    transition: all linear .5s;
    background-color: transparent;
}

.nav-title img{
    transition: all linear .5s;
    width: 50px;
    height: 50px;
}

.nav-title img .down{
    transition: all linear .5s;
    width: 25px;
    height: 25px;
}

nav.down{
    transition: all linear .5s;
    font-size: 1rem;
    background-color:  white;
}

.nav-title{
    display:flex;
    align-items : center;
    column-gap : 1rem;
    font-size : 1.1rem;
}

.nav-item{
    font-size: 1rem;
    align-items: center;
    display: flex;
    position: absolute;
    margin-right: 2rem;
    right: 0;
    column-gap: 1rem;
    height: 100%;
    top: 0;
}

.nav-item a{
    text-decoration: none;
    color : #006799;
    font-weight : bold;
}

.nav-title2{
    margin : 0;
}

@media only screen and (max-width : 900px){
    nav{
        display : inline;  
        padding : 1rem;     
    }

    .nav-title{
        display:flex;
        align-items : center;
        column-gap : 1rem;
        font-size : 1rem;
    }

    .nav-item{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        margin: 0;
        margin-top : .5rem;
    }

    .nav-item a{

        text-align: center;
    }

    .nav-title1{
        font-size : 1rem;
    }

    .nav-title2{
        font-size : .8rem;
        line-height: 1rem;
    }
    
}
